.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;   
  height: 100vh;
  background-color: #2E86C1;
}

.container {
  border-radius: 10px;
  background: #ffffff;
  padding: 0px;
  width: 70%;
  height: 80%;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.welcome { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  padding: 50px;
  margin-left: 80px;
}

.welcome span {
  color: #2E86C1;
}

.main_icon {
  color: #15aabf;
  font-size: 150px;
}

.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.instruction {
  color: #154360;
  font-size: 25px;
  margin-bottom: 17px;
}

.button {
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin: 12px;
  color: #ffffff;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  transition: all 0.1s ease-in-out;
}

.button:active{
  transform: scale(0.95);
}

.blue {
  background-color: #2E86C1;

}

.green {
  background-color: #28B463;
}

@media only screen and (max-width: 415px){
  .container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }

  .welcome {
    margin: 0px;
    font-size: 30px;  
    margin-top: 30px;
  }

  .main_icon {
    color: #15aabf;
    font-size: 80px;
  }

  .sub_container{
    width: 80%;
    margin: 20px auto;
    margin-bottom: 100px;
  }
  
  .button {
    padding: 15px;
    margin: 10px 12px 10px 12px;
  }

  .instruction {
    font-size: 15px;
  }
}