.header {
    width: 80%;
    margin: 20px auto 10px auto;
    display: flex;
    flex-direction: column;
}
  
.header h2 {
    color: #2E86C1;
}

.container {
    width: 80%;
    background-color: #EBEDEF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid #2E86C1;
    block-size: fit-content;
}

.sub_container {
    width: 98%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.full, .empty, .warning {
    padding: 40px 0;
    text-align: center;
}

.full, .explain_full {
    background-color: #2E86C1;
    border: 1px solid black;
}

.empty, .explain_empty {
    background-color: #ffffff;
    border: 1px solid black;
}

.warning, .explain_warning {
    background-color: #ffe800;
    border: 1px solid black;
}

.explain {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.sub_explain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub_explain {
    margin-bottom: 10px;
}

.sub_explain p {
    margin-left: 5px;
}

.div_explain {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

@media screen and (max-width: 415px){  
    .header{
        width: 90%;
        margin: 20px auto 5px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0px;
    }
    
    .header h2 {
        color: #2E86C1;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .container {
        width: 90%;
        margin: 5px auto 20px auto; 
        border-collapse: collapse;
    }

    .sub_container {
        width: 95%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .full, .empty {
        border: 1px solid black;
        padding: 40px 0;
        text-align: center;
    }

    .explain {
        width: 90%;
        margin: 15px auto 20px auto; 
    }

    .div_explain {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
}